:root {
  /* Colors */
  --bright-blue: hsl(220, 98%, 61%);
  --very-light-gray: hsl(0, 0%, 98%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue-2: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-2: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-3: hsl(237, 14%, 26%);

  /* Dark Theme */
  --dark-bg: black;
  --dark-text: white;
  --dark-list-bg: var(--very-dark-blue);
  --dark-list-text: var(--very-dark-grayish-blue-2);
  --dark-content-bg: var(--very-dark-desaturated-blue);
}
:root {
  /* Typography */
  --font-size-body: 16px;
  --font-family-body: "Josefin Sans", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
:root {
  /* Breakpoints */
  --mobile-width: 375px;
  --desktop-width: 1440px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
}
body {
  margin: 0;
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
  font-size: 75%;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.top {
  background-image: url(/images/bg-desktop-light.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}
.bottom {
  width: 50%;

  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
  padding: 5rem 1rem;
  margin-top: 3rem;
}
.top__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 20px;
}
.sun__icon {
  width: 2rem;
  height: 2rem;
}
.bottom__content {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
}
.bottom__ul {
  display: flex;
  flex-direction: column;
  margin: -4rem 0 4rem 0;
}
.search__field {
  background-color: white;
}
.input__field {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}
.input__field:focus {
  outline: none;
}
.circle,
.circleInputField {
  width: 2rem;
  height: 2rem;
  border-radius: 50%; /* This makes the element round */
  border: 1px solid var(--light-grayish-blue);
  display: inline-block;
}
.list__items {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: 0px 0px 15px 2px rgba(118, 118, 118, 0.1);
  border-radius: 5px;
  color: var(--dark-grayish-blue);
}
.list__item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: var(--font-size-body);
  background-color: #fff;
  color: var(--very-dark-blue);
  border-bottom: 0.1px solid var(--light-grayish-blue-hover);
  transition: background-color 0.3s;
}
.list__item.dragging :where(.leftItem) {
  opacity: 0;
}
.list__item:hover .deleteIcon {
  visibility: visible;
}
.leftItem,
.rightItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.deleteIcon {
  position: absolute;
  width: 30px;
  right: 5px;
  height: 30px;
  cursor: pointer;
  visibility: hidden; /* Hide the delete icon by default */
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: -63px;
  z-index: 1;
}
.action:hover,
.list__item.last__section .item:last-child:hover {
  cursor: pointer;
  color: var(--bright-blue);
}
.completed {
  align-items: center;
  background: linear-gradient(
    45deg,
    #2291eb,
    #e35ae1
  ); /* Mixed color gradient */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}
.completed p {
  text-decoration: line-through; /* Add line-through decoration to the text */
  color: #888; /* Change text color for completed items */
}
.icon__checked {
  margin-left: 5px;
  margin-top: 6px;
}
/* dark theme */
.darkTop {
  background-image: url(/images/bg-desktop-dark.jpg);
  transition: 0.2s ease-in-out;
}
.darkBody {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.darkList {
  background-color: var(--very-dark-desaturated-blue);
  color: #fff;
  box-shadow: 0px 0px 15px 2px rgba(40, 39, 39, 0.1);
}
.darkListItem {
  background-color: var(--very-dark-desaturated-blue);
  color: white;
  border-bottom: 0.01px solid var(--very-dark-grayish-blue);
}
.last__section,
.actions {
  display: flex;
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: small;
  font-weight: 700;
  border-bottom: 0;
  color: var(--dark-grayish-blue-2);
}
.darkActions {
  transition: 0.2s ease-in-out;
}
.darkBottomContent,
.darkInputField {
  background-color: var(--dark-content-bg);
  color: var(--dark-text);
}

/* end dark theme */
/* responsive */

@media (max-width: 1020px) {
  .content,
  .bottom {
    width: 63%;
  }
}

@media (max-width: 730px) {
  .actions {
    margin: 1rem;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 15px 2px rgba(40, 39, 39, 0.1);
    gap: 1rem;
  }
}
/* end responsive */
